<html>
<body>
<div class = 'fondo-cool'> 
    <div class = 'col-lg-6'></div>
    <div class = 'col-lg-6 text-center'>
        <div class="plate">
        <p class="script"><span>The Real</span></p>
        <p class="shadow text1">Enduro</p>
        <p class="shadow text2">Bike</p>
        <p class="shadow text3">Data</p>
        <p class="script"><span>By a rider</span></p>
        <br>
        <ul>
            <li><a href=<%= bikes_path %> class="round green">Jump In<span class="round">That is, if you really want to compare bikes</span></a></li>
        </ul> 
        </div>
    </div>
</div>
</body>
</html>